<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0"><channel><title>Twitch Prime Games and Loot</title><link>https://dark-nova.me/twitchprime.xml</link><description>Twitch Prime Games and Loot</description><atom:link href="https://dark-nova.me/twitchprime.xml" rel="self"/><docs>http://www.rssboard.org/rss-specification</docs><generator>python-feedgen</generator><image><url>https://dark-nova.me/twitchprime.png</url><title>Twitch Prime Games and Loot</title><link>https://dark-nova.me/twitchprime.xml</link></image><language>en-US</language><lastBuildDate>Wed, 04 Sep 2019 07:26:42 +0000</lastBuildDate><item><title>Manual Samuel</title><link>https://twitch.amazon.com/tp/loot</link><description>Offered by Curve Digital
Expires: Oct 1
Visit main page to claim offer.</description><guid isPermaLink="false">https://twitch.amazon.com/tp/loot</guid><category>Games with Prime</category><pubDate>Wed, 04 Sep 2019 00:00:00 +0000</pubDate></item><item><title>Chicken Assassin: Reloaded</title><link>https://twitch.amazon.com/tp/loot</link><description>Offered by Akupara Games
Expires: Oct 1
Visit main page to claim offer.</description><guid isPermaLink="false">https://twitch.amazon.com/tp/loot</guid><category>Games with Prime</category><pubDate>Wed, 04 Sep 2019 00:00:00 +0000</pubDate></item><item><title>Stealth Inc 2: A Game of Clones</title><link>https://twitch.amazon.com/tp/loot</link><description>Offered by Curve Digital
Expires: Oct 1
Visit main page to claim offer.</description><guid isPermaLink="false">https://twitch.amazon.com/tp/loot</guid><category>Games with Prime</category><pubDate>Wed, 04 Sep 2019 00:00:00 +0000</pubDate></item><item><title>Yoku's Island Express!</title><link>https://twitch.amazon.com/tp/loot</link><description>Offered by Team17
Expires: Oct 1
Visit main page to claim offer.</description><guid isPermaLink="false">https://twitch.amazon.com/tp/loot</guid><category>Games with Prime</category><pubDate>Wed, 04 Sep 2019 00:00:00 +0000</pubDate></item><item><title>Buy the Overwatch League 2019 All-Access Pass and get 500 Bits</title><link>https://www.twitch.tv/p/overwatchleague</link><description>Offered by Blizzard
Expires: Sep 29</description><guid isPermaLink="false">https://www.twitch.tv/p/overwatchleague</guid><category>In-Game Loot and More</category><pubDate>Wed, 04 Sep 2019 00:00:00 +0000</pubDate></item><item><title>Twitch Sings: Lifeguard Uniform Outfit</title><link>https://twitch.amazon.com/tp/loot</link><description>Offered by Twitch
Expires: Sep 12
Visit main page to claim offer.</description><guid isPermaLink="false">https://twitch.amazon.com/tp/loot</guid><category>In-Game Loot and More</category><pubDate>Wed, 04 Sep 2019 00:00:00 +0000</pubDate></item><item><title>Call of Duty: Black Ops 4: Customization Bundle 5</title><link>https://twitch.amazon.com/prime/loot/codblackops4?ref_=SM_OM_COD195_CRWN</link><description>Offered by Activision
Expires: Sep 17</description><guid isPermaLink="false">https://twitch.amazon.com/prime/loot/codblackops4?ref_=SM_OM_COD195_CRWN</guid><category>In-Game Loot and More</category><pubDate>Wed, 04 Sep 2019 00:00:00 +0000</pubDate></item><item><title>Rainbow Six Siege: Exclusive Ash Operator Set</title><link>https://twitch.amazon.com/prime/loot/rainbow6?ref=_SM_OM_R619_LP</link><description>Offered by Ubisoft
Expires: Sep 16</description><guid isPermaLink="false">https://twitch.amazon.com/prime/loot/rainbow6?ref=_SM_OM_R619_LP</guid><category>In-Game Loot and More</category><pubDate>Wed, 04 Sep 2019 00:00:00 +0000</pubDate></item><item><title>FIFA19 Ultimate Team Pack #2</title><link>https://twitch.amazon.com/prime/loot/fifa19?ref_=SM_OM_FIFA_2019_CRWN</link><description>Offered by Electronic Arts
Expires: Sep 6</description><guid isPermaLink="false">https://twitch.amazon.com/prime/loot/fifa19?ref_=SM_OM_FIFA_2019_CRWN</guid><category>In-Game Loot and More</category><pubDate>Wed, 04 Sep 2019 00:00:00 +0000</pubDate></item><item><title>Minion Masters: Void’s Onslaught DLC</title><link>https://twitch.amazon.com/tp/loot</link><description>Offered by Beta Dwarf
Expires: Oct 21
Visit main page to claim offer.</description><guid isPermaLink="false">https://twitch.amazon.com/tp/loot</guid><category>In-Game Loot and More</category><pubDate>Wed, 04 Sep 2019 00:00:00 +0000</pubDate></item><item><title>RuneScape: Premium Currency Pack</title><link>https://twitch.amazon.com/tp/loot</link><description>Offered by Jagex
Expires: Sep 24
Visit main page to claim offer.</description><guid isPermaLink="false">https://twitch.amazon.com/tp/loot</guid><category>In-Game Loot and More</category><pubDate>Wed, 04 Sep 2019 00:00:00 +0000</pubDate></item><item><title>Exclusive Octane Whiplash Skin</title><link>https://twitch.amazon.com/prime/loot/apexlegends?ref_=SM_OM_APEX2_2019_CRWN</link><description>Offered by Electronic Arts
Expires: Sep 30</description><guid isPermaLink="false">https://twitch.amazon.com/prime/loot/apexlegends?ref_=SM_OM_APEX2_2019_CRWN</guid><category>In-Game Loot and More</category><pubDate>Wed, 04 Sep 2019 00:00:00 +0000</pubDate></item><item><title>Tom Clancy's The Division 2: DC Harriers Sports Team Fan</title><link>https://twitch.amazon.com/prime/loot/division2?ref=_SM_OM_Div219_LP</link><description>Offered by Ubisoft
Expires: Sep 24</description><guid isPermaLink="false">https://twitch.amazon.com/prime/loot/division2?ref=_SM_OM_Div219_LP</guid><category>In-Game Loot and More</category><pubDate>Wed, 04 Sep 2019 00:00:00 +0000</pubDate></item><item><title>The Carcano Sniper Rifle &amp; More</title><link>https://twitch.amazon.com/prime/loot/reddeadonline?ref_=SM_OM_RDO2_TP_CRWN1</link><description>Offered by Rockstar Games
Expires: soon</description><guid isPermaLink="false">https://twitch.amazon.com/prime/loot/reddeadonline?ref_=SM_OM_RDO2_TP_CRWN1</guid><category>In-Game Loot and More</category><pubDate>Wed, 04 Sep 2019 00:00:00 +0000</pubDate></item><item><title>Free Master Penthouse &amp; More</title><link>https://twitch.amazon.com/prime/loot/gtaonline?ref_=SM_OM_GTAO2_TP_CRWN1</link><description>Offered by Rockstar Games
Expires: soon</description><guid isPermaLink="false">https://twitch.amazon.com/prime/loot/gtaonline?ref_=SM_OM_GTAO2_TP_CRWN1</guid><category>In-Game Loot and More</category><pubDate>Wed, 04 Sep 2019 00:00:00 +0000</pubDate></item><item><title>Warface: Female Nanosuits Bundle</title><link>https://twitch.amazon.com/prime/loot/warface?ref_=SM_OM_WAR194_CRWN</link><description>Offered by MY.GAMES
Expires: Oct 22</description><guid isPermaLink="false">https://twitch.amazon.com/prime/loot/warface?ref_=SM_OM_WAR194_CRWN</guid><category>In-Game Loot and More</category><pubDate>Wed, 04 Sep 2019 00:00:00 +0000</pubDate></item><item><title>Dauntless: Assault Supply Bundle</title><link>https://twitch.amazon.com/tp/loot</link><description>Offered by Phoenix Labs
Expires: Sep 10
Visit main page to claim offer.</description><guid isPermaLink="false">https://twitch.amazon.com/tp/loot</guid><category>In-Game Loot and More</category><pubDate>Wed, 04 Sep 2019 00:00:00 +0000</pubDate></item><item><title>Noweyr Steed &amp; Pony</title><link>https://twitch.amazon.com/prime/loot/eso?ref_=SM_OM_ESO19_1_CRWN</link><description>Offered by Bethesda
Expires: Sep 30</description><guid isPermaLink="false">https://twitch.amazon.com/prime/loot/eso?ref_=SM_OM_ESO19_1_CRWN</guid><category>In-Game Loot and More</category><pubDate>Wed, 04 Sep 2019 00:00:00 +0000</pubDate></item><item><title>World of Tanks: Care Package Hotel &amp; Captured King Tiger Tank</title><link>https://twitch.amazon.com/prime/loot/worldoftanks?ref_=SM_OM_WOT196_CRWN</link><description>Offered by Wargaming
Expires: Sep 26</description><guid isPermaLink="false">https://twitch.amazon.com/prime/loot/worldoftanks?ref_=SM_OM_WOT196_CRWN</guid><category>In-Game Loot and More</category><pubDate>Wed, 04 Sep 2019 00:00:00 +0000</pubDate></item><item><title>Jim Brown, Elite Pack, &amp; Exclusive Uniform</title><link>https://twitch.amazon.com/prime/loot/madden20?ref_=SM_OM_Madden20_CRWN</link><description>Offered by Electronic Arts
Expires: Oct 1</description><guid isPermaLink="false">https://twitch.amazon.com/prime/loot/madden20?ref_=SM_OM_Madden20_CRWN</guid><category>In-Game Loot and More</category><pubDate>Wed, 04 Sep 2019 00:00:00 +0000</pubDate></item></channel></rss>